<nav class="navbar navbar-expand-lg">
    <div class="container">
      
        <a class="navbar-brand" href="index.html">
            <strong><span>financial</span> dashboard</strong>
        </a>

        <div class=" navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link active" [routerLink]="['/home/finnhub']">finnhub</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/home/twelvedata']">twelvedata</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
