<main>
    <section class="sign-in-form section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto col-12">
            <h1 class="hero-title text-center mb-5">Sign Up</h1>
            <div class="row">
              <div class="col-lg-8 col-11 mx-auto">
                <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                  <div *ngFor="let field of formFields" class="form-floating mb-4 p-0">
                    <input
                      [type]="field.type"
                      [id]="field.name"
                      [formControlName]="field.name"
                      class="form-control"
                      [placeholder]="field.placeholder"
                    />
                    <label [for]="field.name">{{ field.label }}</label>
                  </div>
  
                  <!-- Password Mismatch Error -->
                  <div *ngIf="signUpForm.hasError('passwordMismatch') && submitted" class="text-danger mb-4">
                    Password and Confirm Password must match.
                  </div>
  
                  <button type="submit" class="btn custom-btn form-control mt-4 mb-3">
                    Create Account
                  </button>
                  <p class="text-center">
                    Already have an account? Please <a href="sign-in.html">Sign In</a>
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  